body{
    margin: 0;
    color: #FF6738;
    background-color: #E5E5E5;
    font-family: 'Francois One', sans-serif; 
}

.container{
   max-width: 1024px; 
   margin: 0 auto;
   clear: both;
 
}

/* -------------------------------------*/
/* CSS pour le header et le menu  
/* -------------------------------------*/

.head-1{
    display: float;
}
.titre-gauche{
    float: left;
    margin-top: 10px;
}
.titre-droit{
    float: right;
}

header{
    background-color:#FFD59E;
    height: 147px; 
}
hr{
    background-color:#FF6738;
    border: none;
    height: 9px;
}
header div hr {
    height: 9px;
    width: 500px;
    border: none;
}
header div h1{
    margin-left: 50px;
    font-size: 72px;
    margin: 0 0 0 50px;
}
nav{
    background-color:  #FF6738;
}
nav ul li{
    list-style-type: none;
    display : inline-block;
    padding: 15px;  
}
li:hover {
    background-color:#EBAB5C;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color:#ffffff; 
    font-weight: bold;
    
}
nav ul{
    margin: 0;
}

/* -------------------------------------------------------------------------*/
/* CSS pour le contenue de la page les images, le fondateur, les services 
/* ------------------------------------------------------------------------*/

.Effix-1{
    display: float;
 }
 .image-gauche{
     float: left;
     width: 35%;
     margin : 20px 0 0 0;
 }
 .text-droite{
     float: right;
     width : 65%;
     margin-bottom: 52px;
 }
p{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    color: black;
    font-size: 14px;
    line-height : 2em;
}
figure{
    margin:0;
}
td span{
    display:block;
}
article h1{
    margin : 20px 0 10px 0;
    color:#FFA938;
    font-family: 'Montserrat', sans-serif;
    font-weight: black;
    font-size: 36px;
}
.fondateur{
    clear: both;
    display: float;
    height: 749px;
    background-color:#FFD59E;
}
.image-fondateur{
    position: relative;
    background-image: url("images/fondateur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 10%;
    width: 100%;
    height: 348px;
}
.position-fondateur{
    position: absolute;
    bottom: 4%;
    right: 4%;
}
.pragraphe-gauche{
    float: left;
    width: 45%;
    margin: 0 0 52px 40px;
}
.pragraphe-droite{
    float: right;
    width: 45%;
    margin: 0 40px 0px 0;
}
.titre-section{
    clear: both;
    margin: 0 0 56px 85px;
    font-size: 48px;
    width: 30%;
}
.position-1{
    float: left;
}
.position-2{
    float: right;
}
.ligne-section{
    float: right;
    height: 36px;
    width:61%;
}
.titre-articles{
    height: 62px;
    color: #FF6738;
    margin: 0;
}
.contenue-de-gauche{
    clear: both;
    display: float;
    float: left;
    width:49%;
    margin-bottom: 70px;
}
.devweb{
    margin-bottom: 52px;
}
.contenue-de-droite{
    float: right;
    width: 49%;
}
.description{
    margin: 0;
}
.titre-article{
    color:#FF6738;
    width:659px;
    height: 62px;
}

/* -----------------------------------*/
/* CSS pour le tableau des tariffs 
/* -----------------------------------*/

.nos-tariffs {
    clear: both;
    background-color:#FFD59E;
}
.section-tarifs{
    margin-bottom: 20px;
    padding-bottom: 52px;
    padding-top: 20px;
}
th, td{
    padding: 15px 0 15px 0;
    text-align: center;
}
th{
    font-size:20px ;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    
}
.color-border{
    border-bottom: 10px solid rgb(128, 58, 0);
}

/* ---------------------------------------------*/
/* CSS pour le formulaire de contacte 
/* --------------------------------------------*/

.nouscontacter{
    width: 45%;
}
.lignenouscontacter{
    width: 45%;
}
.contenue-form{
    margin : 29px 24px 120px 20px;
}
.nom{
    width: 395px;
}
.prenom{
    width: 500px;
    margin: 0 0 0 20px;
}
.tele-courriel{
    width: 656px;
}
input, textarea{
    background-color:#FFD59E;
    height: 66px;
    border: none;
    margin-bottom:34px;
    font-weight: medium;
    font-size: 24px;
    border-radius: 5px;
    color: #B7B7B7;
}
:placeholder-shown{
    padding: 10px;
}
textarea{
    Width:975px;
    Height:285px;
}
.monform{
    position: relative;
}
#button{
    position: absolute;
    width: 310px;
    background-color: #FF6738;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 52px;
    height: 86px;
    bottom:-20%;
    right: 10%;
}

/* ---------------------------*/
/* CSS du footer 
/* --------------------------*/

footer{
    background: #C4C4C4;
    height:271px;
}
#position-footer{
    padding-top: 40px;
}
#effixone-footer{
    margin: 0 0 0 80px; 
}
.postion-pragraphe{
    margin: 0 0 0 80px;
}
#telephone{
    margin: 14px 0 10px 80px;
}